:root body.default-animation {
    @keyframes loading {
        0% {
            transform : rotate(0deg);
        }
        100% {
            transform : rotate(360deg);
        }
    }

    --loading : loading 1s infinite ease-in-out;
}
