@import "styles/sizes";
@import "styles/palette";
@import "styles/transition";
@import "styles/animation";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : "Roboto", serif;
}